
<%= dc_page_top %>

<nav class="top-bar top1">
  <div class="wrap">
  <div class="top-bar-title">
    <a href="/">DRG<sup>CMS</sup></a>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/books">Docs</a></li>
        <li><a href="/plugins">Plugins</a></li>
        <li><a href="/docs">Demo</a></li>
<!--
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
-->
</li>
        <li><a href="/news">News</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>

<%= dc_render_design_part(@main)   %>

<footer>  
  <div class="wrap row">
    <div class="column small-12 medium-4">
      <h3>Links:</h3>
      <hr>
      <a href="https://groups.google.com/forum/#!forum/drg-cms">Discussion forum</a>
    </div>
    <div class="column small-12 medium-4">
      <h3>Links:</h3>
      <hr>
      <a href="https://groups.google.com/forum/#!forum/drg-cms">Discussion forum</a>
    </div>
    <div class="column small-12 medium-4">
      <h3>Links:</h3>
      <hr>
      <a href="https://groups.google.com/forum/#!forum/drg-cms">Discussion forum</a>
    </div>
  </div>
    
  </div>
</footer>
</div>

<%= dc_page_bottom %>
