
<div class="top-bar top2">
  <div class="wrap">
    <div class="login top-bar-right"><%= dc_render(:common, method: 'login') %></div>
  </div>
</div>

<section class="main">
  <div class="wrap row">
    <div class="small-12 medium-8 column">
      <div class="novica">
        <h3>Seminar o bla bla</h3>
        <%= fa_icon('calendar') %> 22.november 2016<br><br>
        No migrations required. Define data model with mongoid gem. Generate&nbsp;<span style="font-size: 16px;"><span style="color:#db363a;">DRG</span><sup>CMS&nbsp;</sup></span>Form and you are ready for data entry. Create designs for landing data on web page. Write render methods for landing pieces&nbsp; of data&nbsp; on&nbsp; design.
      </div>
      <div class="novica">
        <h3>Seminar o bla bla</h3>
        <%= fa_icon('calendar') %> 22.november 2016<br><br>
        No migrations required. Define data model with mongoid gem. Generate&nbsp;<span style="font-size: 16px;"><span style="color:#db363a;">DRG</span><sup>CMS&nbsp;</sup></span>Form and you are ready for data entry. Create designs for landing data on web page. Write render methods for landing pieces&nbsp; of data&nbsp; on&nbsp; design.
      </div>
      <div class="novica">
        <h3>Seminar o bla bla</h3>
        <%= fa_icon('calendar') %> 22.november 2016<br><br>
        No migrations required. Define data model with mongoid gem. Generate&nbsp;<span style="font-size: 16px;"><span style="color:#db363a;">DRG</span><sup>CMS&nbsp;</sup></span>Form and you are ready for data entry. Create designs for landing data on web page. Write render methods for landing pieces&nbsp; of data&nbsp; on&nbsp; design.
      </div>
    </div>
      
    <div class="small-12 medium-4 column">
      <div class="desno">
        <img src="files/logosa.jpg"><br>
        <br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</section>
