
<section class="hero">
  <div class="wrap row">
    <div class="small-12 medium-6 columns">
      <p>Create complex data entry applications with minimum amount of source code<br><br>
      <a href="/create-applications" class="button primary">Learn More</a>
      </p>
    </div>

    <div class="small-12 medium-6 columns">
      <%= image_tag('drg-1.png') %>
    </div>
  </div>
  
<!-- -->

  <div style="background-color: #ccc;">
    <div class="wrap row">
      <div class="small-12 columns">
        <font style="font-size: 6em; color: #fff;">Works with Rails 5</font>
      </div>
    </div>
  </div>
  
<!-- -->

  <div class="wrap row">
    <div class="small-12 medium-4 columns">
      <%= image_tag('pic-www-drgcms.jpg') %>
    </div>

    <div class="small-12 medium-4 columns">
      <p>Multiple sites on single RubyOnRails instance.<br><br>
      <a href="/multiple-sites" class="button primary">Learn More</a>
      </p>
    </div>

    <div class="small-12 medium-4 columns">
      <%= image_tag('pic-tulips-drgcms.jpg') %>
    </div>
  </div>

</section>

<% if false %>
  <div class="wrap row">
    <div class="small-12 medium-6 columns" style="float: right;">
      <p>Multiple sites on single RubyOnRails instance.<br><br>
      <a href="/" class="button primary">Learn More</a>
      </p>
    </div>
    <div class="small-12 medium-6 columns">
      <%= image_tag('drg-2.png') %>
    </div>
  </div>
<% end %>