
<section class="hero">
  <div class="wrap row">
    <div class="small-12 medium-6 columns">
      <p>Create complex data entry applications with minimum amount of source code<br><br>
      <a href="/create-applications" class="button primary">Learn More</a>
      </p>
    </div>
    <div class="small-12 medium-6 columns">
      <%= image_tag('drg-1.png') %>
    </div>
  </div>
<!-- -->
  <div class="wrap row">
    <div class="small-12 medium-6 columns" style="float: right;">
      <p>Multiple sites on single RubyOnRails instance.<br><br>
      <a href="about.html" class="button primary">Learn More</a>
      </p>
    </div>
    <div class="small-12 medium-6 columns">
      <%= image_tag('drg-2.png') %>
    </div>
  </div>

</section>

<% if false %>
<section class="main">
  <div class="wrap row">
    <div class="small-12 medium-6 column">
      <h3>Rapid web development:</h3>
      <hr>
      No migrations required. Define data model with mongoid gem. Generate&nbsp;<span style="font-size: 16px;"><span style="color:#db363a;">DRG</span><sup>CMS&nbsp;</sup></span>Form and you are ready for data entry. Create designs for landing data on web page. Write render methods for landing pieces&nbsp; of data&nbsp; on&nbsp; design.
    </div>
    <div class="small-12 medium-6 column">
      <h3>Highly extendable:</h3>
      <hr>
      Anything in <span style="font-size: 16px;"><span style="color:#db363a;">DRG</span><sup>CMS </sup></span>can be extended with Ruby on Rails plugins and Ruby gems. Reuse or extend basic models for your needs. Create your own entry field types for use on data entry forms. Create new modules as plugins and integrate them into your application.
    </div>
    <div class="small-12 medium-6 column">
      <h3>Multiple sites:</h3>
      <hr>
      On single Ruby on Rails instance. Every site may have its own design and data or can share designs and data with other sites.
    </div>
    <div class="small-12 medium-6 column">
      <h3>Role based:</h3>
      <hr>
      Easy to use access control integrated. Developers define roles and policies for accessing data. End users need only to select required policy.</div>
    </div>
  </div>
</section>
<% end %>