
<section class="hero" style="padding-top: 2rem;">
<!-- -->

  <div style="background-color: #ccc;">
    <div class="wrap row" style="padding-top:0">
      <div class="small-12 columns">
        <font style="font-size: 5em; color: #fff;">More than just CMS</font>
      </div>
    </div>
  </div>
  
<!-- -->

<div class="wrap row">
    <div class="small-12 medium-6 columns">
      <p><br>Create complex data entry applications with minimum amount of source code.<br><br>
      <a href="/create-applications" class="button primary">Learn More</a>
      </p>
    </div>

    <div class="small-12 medium-6 columns">
      <%= image_tag('drg-1.png') %>
    </div>
  </div>
<!-- -->

  <div style="background-color: #ccc;">
    <div class="wrap row">
      <div class="small-12 columns">
        <font style="font-size: 3.5em; color: #fff;">Ideal for building Intranet portals.</font><br><br>
        <a href="/blog/Damjan%20Rems/create-internal-portal-application-in-few-minutes-2018-09-13" class="button primary">Learn More</a>
      </div>
    </div>
  </div>
  
<!-- -->

  <div style="">
    <div class="wrap row">
      <div class="small-12 medium-7 columns">
        <%= dc_render(:dc_rotator, element: 'rotator1') %>
      </div>
      <div class="small-12 medium-5 columns">
        <font style="font-size: 3em;">Multiple sites on single RubyOnRails instance.</font>
        <br><br><a href="/multiple-sites" class="button primary">Learn More</a>
      </div>
    </div>
  </div>

<!-- -->

  <div style="background-color: #ccc;">
    <div class="wrap row">
      <div class="small-12 columns">
        <font style="font-size: 4em; color: #fff;">Works with Rails 6</font>
      </div>
    </div>
  </div>
</section>

