
<%= paginate plugins %>

<% for plugin in plugins %>
  <div class="plugin">
      <h2><%= link_to("#{plugin.name} (#{plugin.version})", "/plugins?p_id=#{plugin._id}&method=show") %></h2>
    <div class="plugin-info">
      <%= plugin.info %>
    </div>
  </div>
<% end %>

<%= paginate plugins %>
