body {
/*  background-color: #222;*/
  font-family: Noto Sans, Helvetica;
}
.wrap {
  margin: 0 auto;
  max-width: 1050px;
  width: 90%;
}

p {margin-bottom: 0.1rem}

/************* TOP BAR ************/
.top-bar {
  color: #fff;
  background-color: #333;
  padding: 0;
}

.top-bar a {font-weight: bold;} 

.top-bar ul {
  background-color: #333;

}
.top-bar-title { 
  padding: 0; 
  margin: 0;
  float:left;
}
.top-bar-title a {
  font-size: 3.5em;
  color: #db363a;
}
.top-bar-title sup {
  color: white;
  font-size: 0.6em;
}

.menu a {
  font-size: 1.5em;
  padding:1em;
  color: #999;
}

footer a {color: #999;}
.menu a:hover, footer a:hover {color: #666;}

.login {max-width: 930px; }

.top-bar-right {
  background-color: #333;
  float: right;
  padding-top: 0.5em;
}

/************* MAIN ************/
.main {
  padding: 20px 0px;
  font-size: 1.2em;
}

.main .column {
margin: 20px 0px;
}

.main hr {
  border: 1px solid #999;
}
.main a {color: #db363a}
.main a:hover {color: #cb161a}

.hero {
background-color: #fff;

}

.hero .columns {
padding: 4rem 0.2rem;
vertical-align: middle;
text-align: center;
}

.hero p {
font-size: 2em;
padding: 0px 20px;
}

.hero img {
/*padding: 30px;*/
}
/************* FOOTER ************/
footer {
  padding:40px 0;
  min-height: 200px;
  background-color: #222;
  font-size: 12px;
  color: rgba(255,255,255,0.5);
}

footer h3 {
  font-size: 1.3em;
  color: rgba(255,255,255,0.7);
}

footer hr {
margin: 5px 0;
  color: rgba(255,255,255,0.7);
}

#poll {
background-color: #000;
padding: 1rem;
color: #fff;
font-size: 1.2em;
}

#poll .poll-title {
font-size: 2em;
margin-bottom: 10px;
}

#poll .poll-data-text {
font-size: 1.4em;
font-weight: bold;
margin-bottom: 5px;
}

#poll .dc-submit {
padding: 10px 15px;
margin: 20px 0px;
}

#poll .dc-submit:hover {
color: blue;
}

#poll .dc-link {
padding: 0px;
background-color: none;
border: none;
}
#poll .dc-link-submit {
padding: 0px;
background: none;
border: none;
}
#poll a:hover {
padding: 0px;
background: none;
border: none;
}

.docs p, .news-body p {
margin-bottom: 2px;
font-size: 1.2em;
}

.program-code {
background-color: #eee;
border: 1px solid #e8e8e8;
padding: 5px;
font-family: monospace; 
}

.plugin-info {
font-size: 1.2em;
}

.pagination {
  display: inline-flex;
  padding-left: 1em; float: left;
}

/* LOGIN-LOGOUT */
.menu-login .login {
  color: #db363a;
}

.menu-login .logout {
  color: #fff;
  font-weight: normal;
}
/* throw out after next version */
.manual .column:first-child {
  background: linear-gradient(to bottom, #fcfcfc 0%, #eee 100%); 
  padding: 1em;
  border-radius: 2px;
}

#manual-menu.menu {
  display: block;
}

#manual-menu.menu .submenu-toggle::after {
  border-color: #444 transparent;
}

#manual-menu .submenu-toggle {
  width: 6px;
  height: 6px;
  top: 6px;
  right: 8px;
}

/*******    MOBILE    ********/
@media only screen and (max-width: 600px) {
  .hero .columns {
    padding: 1rem 0.2rem;
  }  
}